* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    background: linear-gradient(#009688 0% 14%,#D8DBD6 14% 100%);
}

ul, ol, menu {
    list-style: none;
}

input {
    width: 100%;
    border: none;
}

input,
.notification__link {
    font-size: 14px;
}

.app-wrapper {
    max-width: 1535px;
    height: 100vh;
    padding: 1.5rem;
    margin: 0 auto;

    display: flex;
}

.app-sidebar {
    flex-basis: 535px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
}

.sidebar-header,
.content-header {
    padding: 0.625rem;

    background-color: #EAEAEA;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header .avatar,
.content-header .avatar {
    margin-right: 15px;
}

.user-name {
    font-weight: 700;
    margin-right: auto;
}

.sidebar-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    
    display: block;
}

.avatar--sm {
    width: 50px;
}

.icon-wrapper {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    padding: 15px 20px;
    background-color: #8EDAFC;

    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.notification__title {
    font-weight: 700;
}

.search {
    padding: 10px;
    position: relative;
    /* display: flex;
    align-items: center; */
}

.search__icon {
    position: absolute;
    top: 50%;
    left: 33px;
    transform: translateY(-50%);
}

.search__input {
    display: block;
    padding-left: 70px;
    line-height: 30px;
    border-radius: 4px;
}

.icon {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    padding: 2px;
    
    display: block;
}

.icon--sm {
    padding: 4px;
}

.icon--info {
    fill: #8EDAFC;
}

.contact-list {
    flex-grow: 1;
    overflow: scroll;
}

.contact {
    padding: 10px 20px;
    border-bottom: 1px solid #E9EBEB;

    display: flex;
    gap: 1.25rem;
}

.contact:last-child {
    border: none;
}

.contact-content {
    width: 100%;
}

.contact__name {
    font-size: 18px;
}

.contact__time {
    float: right;
    font-size: 12px;
}

.contact__text {
    font-size: 14px;
}

.active {
    background-color: #E9EBEB;
}

main {
    flex-grow: 1;
}

.app-content {
    display: flex;
    flex-direction: column;
}

.content-header,
.content-footer {
    border-left: 2px solid #E5DDD5;
}

.main-content {
    flex-grow: 1;
    border-left: 2px solid transparent;
}

.chat-background {
    background: url('./../assets/mine.jpg') center/500px repeat #E5DDD5;
}

.message-list {
    overflow: scroll;
    padding: 55px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    width: 315px;
    border-radius: 10px;
    position: relative;
}

.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.received {
    background-color: #FFFFFF;
}

.hide {
    display: none;
}

.message__text {
    padding: 12px 6px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.message__text .icon {
    flex-shrink: 0;
}

.message__time {
    padding: 0 6px 6px 15px;
    font-size: 12px;
    line-height: 1em;
    text-align: end;
}

.popup {
    padding: 8px 15px;
    position: absolute;
    right: 6px;
    top: 36px;
    background-color: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 2px 5px 0 rgba(11, 20, 26, 0.26),
                0 2px 10px 0 rgba(11, 10, 26, 0.16);
}

.show {
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
}

.content-footer {
    padding: 10px 0;

    background-color: #F3EEEA;

    display: flex;
    align-items: center;
}

.content-footer .icon{
    margin: 0 33px;
}

.input--lg {
    padding: 16px;
    border-radius: 8px;
    line-height: 18px;
}